* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contactContainer{
  width: 90%;
  background-color: white;

}

.contactUs{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 5% 10%;
  border-bottom: 1px solid black;
  justify-content: center;
  margin: 0% 19%;
}

.contactUsH3{
  text-align: center;
}

.contactUsParagraph{
  text-align: center;
}

.contactInfo{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 5%;
  margin: 0% 11%;
}

.contactForm{
  display: flex;
  justify-content: space-between; 
  margin: 0% 11%; 
  padding: 5%;
  flex-wrap: wrap;
}

.contactInput{
  width: 350px;
  padding: 2% 0%;
} 